# Top Earners in Movie Industry

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

<a id="#intro"></a>
## Introduction

> This analysis project is to be done using the imdb movie data. When the analysis is completed, you should be able to find the top 5 highest grossing directors, the top 5 highest grossing movie genres of all time, comparing the revenue of the highest grossing movies and which companies released the most movies. 

> There are 10 columns that will not be needed for the analysis. Use pandas to drop these columns. HINT: Only the columns pertaining to revenue will be needed.

> To get you started, I've already placed the needed code for getting the packages and datafile that you will be using for the project.

In [1]:
import pandas as pd
import numpy as np
import csv
!pip install numpy
!pip install pandas

%matplotlib inline
import matplotlib.pyplot as plt

Requirement already satisfied: numpy in c:\users\adria\anaconda3\lib\site-packages (1.20.1)
Requirement already satisfied: pandas in c:\users\adria\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\adria\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adria\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\adria\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\adria\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Matplotlib is building the font cache; this may take a moment.

In [2]:
df = pd.read_csv('imdb-movies.csv')

In [20]:
#Opening/reading CSV data
def OPcsv(filename, deli= ','):
#store data in empty list
    datalst = []
    
    with open(filename, encoding = 'utf-8') as mData:
#csv reader() -> python list
        reader = csv.reader(mData, delimeter=deli)
        
#Loop/append to new list
        for row in info:
            datalst.append(row)
    return datalst

csvdata = OPcsv('/Users/adria/OneDrive/Documents/coding temple/week9/week9hw2/imdb-movies.csv')

print(csvdata[1:2])

Error: unknown dialect

### Drop columns without neccesary information and remove all records with no financial information -- Pay close attention to things that don't tell you anything regarding financial data

In [22]:
# pandas read csv
movies = pd.read_csv('/Users/adria/OneDrive/Documents/coding temple/week9/week9hw2/imdb-movies.csv', sep=',')
movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

### Data Cleaning

In [23]:
# Delete all records with null, or empty values

movie_data_cleaning = movies[movies['revenue_adj'] >= 0]
movie_data_cleaning

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

#### Here's a helpful hint from my own analysis when I ran this the first time. This may help shed light on what your data set should look like.

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

In [24]:
production = movies['production_companies']
production

genres = movies['genres']
genres

0        Action|Adventure|Science Fiction|Thriller
1        Action|Adventure|Science Fiction|Thriller
2               Adventure|Science Fiction|Thriller
3         Action|Adventure|Science Fiction|Fantasy
4                            Action|Crime|Thriller
                           ...
10861                                  Documentary
10862                       Action|Adventure|Drama
10863                               Mystery|Comedy
10864                                Action|Comedy
10865                                       Horror
Name: genres, Length: 10866, dtype: object

<a id="eda"></a>
## Exploratory Data Analysis

> Use Matplotlib to display your data analysis

### Which production companies released the most movies in the last 10 years? Display the top 5 production companies.

In [25]:
production_companies = movies[['revenue_adj', 'production_companies','original_title']].sort_values(['revenue_adj'], ascending=False).reset_index(drop=True)
production_companies.head(5)

,revenue_adj,production_companies,original_title
0,2.827124e+09,Ingenious Film Partners|Twentieth Century Fox ...,Avatar
1,2.789712e+09,Lucasfilm|Twentieth Century Fox Film Corporation,Star Wars
2,2.506406e+09,Paramount Pictures|Twentieth Century Fox Film ...,Titanic
3,2.167325e+09,Warner Bros.|Hoya Productions,The Exorcist
4,1.907006e+09,Universal Pictures|Zanuck/Brown Productions,Jaws

### What 5 movie genres grossed the highest all-time?

In [26]:
genres_grossed_highest = movies[['revenue_adj', 'genres','imdb_id' ]].sort_values(['revenue_adj','genres'], ascending=False).reset_index(drop=True)
genres_grossed_highest.head(5)

    revenue_adj                                    genres    imdb_id
0  2.827124e+09  Action|Adventure|Fantasy|Science Fiction  tt0499549
1  2.789712e+09          Adventure|Action|Science Fiction  tt0076759
2  2.506406e+09                    Drama|Romance|Thriller  tt0120338
3  2.167325e+09                     Drama|Horror|Thriller  tt0070047
4  1.907006e+09                 Horror|Thriller|Adventure  tt0073195

### Who are the top 5 grossing directors?

In [27]:
top5_grossing_directors= movies[['revenue_adj', 'director', 'imdb_id', ]].sort_values(['revenue_adj'], ascending=False).reset_index(drop=True)
top5_grossing_directors.head(10)

    revenue_adj                                           director    imdb_id
0  2.827124e+09                                      James Cameron  tt0499549
1  2.789712e+09                                       George Lucas  tt0076759
2  2.506406e+09                                      James Cameron  tt0120338
3  2.167325e+09                                   William Friedkin  tt0070047
4  1.907006e+09                                   Steven Spielberg  tt0073195
5  1.902723e+09                                        J.J. Abrams  tt2488496
6  1.791694e+09                                   Steven Spielberg  tt0083866
7  1.583050e+09                                      Irwin Winkler  tt0113957
8  1.574815e+09  Clyde Geronimi|Hamilton Luske|Wolfgang Reitherman  tt0055254
9  1.443191e+09                                        Joss Whedon  tt0848228

### Compare the revenue of the highest grossing movies of all time.

In [28]:

movies[['original_title','genres','revenue_adj']].describe()
highest_gross = movies[['original_title','revenue_adj','imdb_id']].sort_values(['revenue_adj'], ascending=False).reset_index(drop=True)
highest_gross
highest_gross.head(5)

  original_title   revenue_adj    imdb_id
0         Avatar  2.827124e+09  tt0499549
1      Star Wars  2.789712e+09  tt0076759
2        Titanic  2.506406e+09  tt0120338
3   The Exorcist  2.167325e+09  tt0070047
4           Jaws  1.907006e+09  tt0073195

<a id="conclusions"></a>
## Conclusions

> Using the cell below, write a brief conclusion of what you have found from the anaylsis of the data. The Cell below will allow you to write plan text instead of code.

In [ ]:
#avatar is highest grossing movie by director James Cameron